# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Expo
.expo/
dist/
web-build/
babel.config.js
eas.json

# Android/iOS builds
*.apk
*.aab
*.ipa

# IDE
.idea/
.vscode/
*.swp
*.swo
